/*  */
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Italianno&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*,
*::after,
*::before{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

.navbar {

    background-color: #686868 !important;
    
    & img[alt='logo']{
        width: 5rem;
    }
    & .nav-link{
        transition: all 0.4s;
        color: white !important;
        
    }
}

a:hover {
    transform: scale(1.2);
    background-color: 	#A9A9A9;
  }

.active {
    background-color: 	#A9A9A9;
}

body {
    display: grid;
}

body {
    grid-template-rows: auto minmax(100dvh,100%) auto;
}

[landing]{
    height: 100dvh;
    background-image: url("https://chelsea-julie.github.io/all-images/images/FTH_lifestyle-37.jpg"); 
    background-size: cover;
    & h1{
        text-align: start;
        font-family: "Italiana", sans-serif;
        font-weight: 400;
        font-style: normal;
        & span{
            font-style: italic;
        }
    }

    [landing-info]{
        height: 70%;
        background-color: #ffffff3c;
        
        & :is(h1){
            color: black;
            font-size: 5rem;
        }
        & p{
            color: black;
            font-size: 3rem;
        }

    }
}


[aboutFooter]{
    margin-top: 0rem;

}

:is(h2, footer p) {
    text-align: center;
}

[homefooter]{
    background-color: #cececebe;
    .bottomNav{
        padding-top: 2rem;
        padding-inline: 3rem;
        p {
            text-align: start;

        }

        & .contact-links{
            & a{
                padding-right: 2rem;
            }
        }
    }
}

img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

[recentProducts]{
    margin-top: 5rem;
}

h2{
    font-family: "Italiana", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 60px;
}

[discreption]{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    & h2{
        text-align: start;
        margin-bottom: 2rem;
        font-size: 3rem;
    }
    & .row{
        background-color: #cececebe;
        padding: 3rem;
    }

}

[discreption-image]{
    display: flex;
    justify-content: center;
    img[alt="landing"]{
        width: 35rem;
    }
}

[discreption-info]{
    padding-inline: 10rem;
    & p{
        font-size: 1.5rem;
    }
}

[banner]{
    div[first]{
        border-right: solid 1px black !important;;
        height: 5rem;
        
    }
    & h2{
        padding-top: 1.5rem;
    }
}
       
.about {
    height: 100dvh;
    & video {
        
        width: 100% ;
    }
    
    
}

h2.about{
    margin-top: 100rem;
}

[about]{
    height: 100dvh;
    justify-content: center;
    & h1{
        font-family: "Italiana", sans-serif;
        font-weight: 400;
        font-style: italic;
      
    }

    [about-info]{
        height: 70%;
        width: 80%;
        background-color: #ffffff3c;
        
        & :is(h1){
            color: black;
            font-size: 5rem;
            text-align: center;
        }
        & p{
            color: black;
            font-size: 2rem;
        }

    }
}

[about]{
    margin-top: -55rem;
}

[products]{
    row-gap: 10rem;
}

.buttons{
    display: grid;
    align-self: center;
}

.show{
    display: flex;
    justify-content: center;
    & [showmore]{
        color: white;
    }
}

    /* Styling for drop down. I got this styling from codepen and changed to fit my product page.*/ 
    @arrowColor: #ffcc00;
    @arrow: escape('@{arrowColor}');
    
    select {  
      background-color:#a5a5a5;
      background-position: right 10px center;
      background-repeat: no-repeat;
      background-size: auto 50%;
      border-radius: 2px;
      border: none;
      color: #ffffff;
      padding: 10px 30px 10px 10px;
      
      outline: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      display:block;
      &::-ms-expand { display: none };
    }
    
    @-moz-document url-prefix() {
      select {
        color: rgba(0,0,0,0);
        text-shadow: 0 0 0 #ffffff;
      }
    }
    [selectcon]{
        display: flex;
        justify-content: end;
        & select{
            height: 3rem;
        }
    }

    [filter]{
        width: 100%;
    }

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
    [contact]{

        section {
          position: relative;
          z-index: 3;
          padding-top: 50px;
          padding-bottom: 50px;
          background-color: rgb(152, 152, 152);
        }
        
        .container {
          max-width: 1080px;
          margin-left: auto;
          margin-right: auto;
          padding-left: 20px;
          padding-right: 20px;
        }
        
        .section-header {
          margin-bottom: 50px;
          text-align: center;
        }
        
        .section-header h2 {
          color: #FFF;
          font-weight: bold;
          font-size: 3em;
          margin-bottom: 20px;
        }
        
        .section-header p {
          color: #FFF;
        }
        
        .row  {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
        }
        
        .contact-info {
          width: 50%;
        }
        
        .contact-info-item {
          display: flex;
          margin-bottom: 30px;
        }
        
        .contact-info-icon {
          height: 70px;
          width: 70px;
          background-color: #fff;
          text-align: center;
          border-radius: 50%;
        }
        
        .contact-info-icon i {
          font-size: 30px;
          line-height: 70px;
        }
        
        .contact-info-content {
          margin-left: 20px;
        }
        
        .contact-info-content h4 {
          color: #1da9c0;
          font-size: 1.4em;
          margin-bottom: 5px;
        }
        
        .contact-info-content p {
          color: #FFF;
          font-size: 1em;
        }
        
        .contact-form {
          background-color: #fff;
          padding: 40px;
          width: 45%;
          padding-bottom: 20px;
          padding-top: 20px;
        }
        
        .contact-form h2 {
          font-weight: bold;
          font-size: 2em;
          margin-bottom: 10px;
          color: #333;
        }
        
        .contact-form .input-box {
          position: relative;
          width: 100%;
          margin-top: 10px;
        }
        
        .contact-form .input-box input,
        .contact-form .input-box textarea{
          width: 100%;
          padding: 5px 0;
          font-size: 16px;
          margin: 10px 0;
          border: none;
          border-bottom: 2px solid #333;
          outline: none;
          resize: none;
        }
        
        .contact-form .input-box span {
          position: absolute;
          left: 0;
          padding: 5px 0;
          font-size: 16px;
          margin: 10px 0;
          pointer-events: none;
          transition: 0.5s;
          color: #666;
        }
        
        .contact-form .input-box input:focus ~ span,
        .contact-form .input-box textarea:focus ~ span{
          color: #e91e63;
          font-size: 12px;
          transform: translateY(-20px);
        }
        
        .contact-form .input-box input[type="submit"]
        {
          width: 100%;
          background: #00bcd4;
          color: #FFF;
          border: none;
          cursor: pointer;
          padding: 10px;
          font-size: 18px;
          border: 1px solid #00bcd4;
          transition: 0.5s;
        }
        
        .contact-form .input-box input[type="submit"]:hover
        {
          background: #FFF;
          color: #00bcd4;
        }
        
        @media (max-width: 991px) {
          section {
            padding-top: 50px;
            padding-bottom: 50px;
          }
          
          .row {
            flex-direction: column;
          }
          
          .contact-info {
            margin-bottom: 40px;
            width: 100%;
          }
          
          .contact-form {
            width: 100%;
          }
        }
     
    }

[modal]{
 display: flex;
 justify-content: center;
 background-color: teal;
} 


 
/* Add modal stylig */

::backdrop {
 background-color: rgba(187, 187, 187, 0.415);
 display: flex;
 justify-content: center;
}


dialog{
 & form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   padding: 2rem;
   background-color: white;
   border-radius: 1rem;
 }
}

